body{
    background-color: aquamarine;
    font-size: xx-large;
}
@media screen and (max-width: 990px) {
    body{
        background-color: aqua;
        color: rgb(212, 255, 0);
    }
}
@media screen and (max-width: 660px) {
    body{
        background-color: antiquewhite;
        color: blueviolet;
    }
    
}

